<div *ngIf="isModalOpen" class="fixed inset-0 flex items-start justify-center z-50 mt-10 min-w-md">
    <div class="fixed inset-0 bg-gray-800 bg-opacity-75"></div>
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg w-5/12 p-6 z-10" role="dialog" aria-modal="true">
      <div class="flex justify-between items-center">
        <h3 class="text-lg font-bold text-gray-900 dark:text-gray-100">Fondo de pantalla</h3>
        <button class="text-gray-400 hover:text-gray-600 dark:hover:text-gray-300" (click)="closeModal()">
          <app-icon-custom typeIcon="close" sizeIcon="xl"></app-icon-custom>
        </button>
      </div>

      <!-- Grid con las dos opciones de imágenes -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-4">
        <div class="relative" *ngFor="let image of images">
          <img [src]="image.src" class="w-full h-40 object-cover rounded-lg cursor-pointer" (click)="confirmImageSelection(image.src)" />
        </div>
      </div>
    </div>
</div>

<!-- Confirmación de actualización de fondo -->
<div *ngIf="showConfirmation" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg w-96 p-6 z-10">
    <h3 class="text-lg font-bold text-gray-900 dark:text-gray-100 mb-4">Confirmación</h3>
    <p class="text-gray-700 dark:text-gray-300 mb-4">¿Desea actualizar el fondo de pantalla?</p>
    <div class="flex justify-end">
      <button class="mr-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" (click)="cancelSelection()">Cancelar</button>
      <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" (click)="updateBackground()">Actualizar</button>
    </div>
  </div>
  <div class="fixed inset-0 bg-gray-800 bg-opacity-75"></div>
</div>
