<div class="w-screen h-screen bg-gray-100 flex justify-center bg-light-bg border border-light-border dark:bg-dark-bg dark:border-dark-border">
  <div>
    <img [src]="images.notfound" class="img-fluid rounded"/>
    <p class="text-2xl text-light-text dark:text-dark-text">404 - Página No Encontrada.</p> <br>
    <p class="text-lg text-light-text dark:text-dark-text">You didn't break the internet, but we can't find what you are looking for.</p>
    <p class="mt-3">
      <a href="/home" class="font-bold btn">Regresar al Inicio</a>
    </p>
  </div>
</div>